<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<body>
  <p><%= @game.current_turn.name %> <%= @game.current_turn.hit_points %>HP</p>
</body>

<body>
  <p><u><%= @game.current_turn.name %>'s turn</u></p>
</body>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
